@import url(http://fonts.googleapis.com/css?family=Lato:400);
/* line 3, ../sass/screen.scss */
html {
  box-sizing: border-box;
  font-size: 1em;
  font-family: Lato;
  font-weight: 400;
}

/* line 5, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 7, ../sass/screen.scss */
.flex-container {
  display: flex;
}
/* line 8, ../sass/screen.scss */
.flex-container .box {
  height: 200px;
  line-height: 178px;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* line 9, ../sass/screen.scss */
.flex-container .panel {
  height: auto;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
  width: 100%;
  margin: 20px;
  padding: 10px;
  padding-top: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* line 12, ../sass/screen.scss */
#target {
  opacity: 0.5;
}

/* line 14, ../sass/screen.scss */
h3 {
  font-size: 16pt;
  line-height: 1em;
  padding: 0;
  border: 0;
}

/* line 16, ../sass/screen.scss */
.warning {
  color: #F00;
  text-align: center;
}

/* line 18, ../sass/screen.scss */
.info {
  height: auto;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
  width: auto;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* line 20, ../sass/screen.scss */
#list {
  height: auto;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  background-color: #ddd;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 0;
}
/* line 21, ../sass/screen.scss */
#list #productTable {
  width: 100%;
}
/* line 22, ../sass/screen.scss */
#list tr {
  width: 100%;
  height: 2em;
  background-color: #eee;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 23, ../sass/screen.scss */
#list .label {
  font-size: 16pt;
  line-height: 3em;
  text-align: center;
}

/* line 26, ../sass/screen.scss */
.productPanel {
  width: 100%;
}
/* line 28, ../sass/screen.scss */
.productPanel input {
  width: 100%;
}

/* line 31, ../sass/screen.scss */
#errorbox {
  text-overflow: ellipsis;
  overflow: hidden;
}
